<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>

    <%- include ('navbar.ejs') %>

<main>
    <% simps.forEach(simp=>{%>

        <img src="<%= simp.imageurl %> ">
        <h2>
            <%= simp.character_s %>
        </h2>
        <h3>
            <%= simp.quote %>
        </h3>

        <form action="/favorite-quotes/<%= simp.id %> ?_method=DELETE" method="POST">


            <input name="image" type="hidden" value="<%= simp.imageurl %>">
            <input name="character" type="hidden" value="<%= simp.character %>">

            <input name="quote" type="hidden" value="<%= simp.quote %>">

            <button type="submit">DETLETE</button>



        </form>




        <% }) %>
</main>
</body>
</html>