<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style2.css">
    <title>Document</title>
</head>

<body>
    <%- include ('navbar.ejs') %>

    <main>

        <% simps.forEach(simp=>{%>
            <section class="<%= simp.characterdirection %> ">



                <h3><%= simp.characterdirection%></h3>
            <img src="<%= simp.imageurl %> ">
            <h2>
                <%= simp.character_s%>
            </h2>
            <h3>
                <%= simp.quote %>
            </h3>

            <form action="/favorite-quotes/<%= simp.id %> ">


                <input name="image" type="hidden" value="<%= simp.imageurl %>">
                <input name="character" type="hidden" value="<%= simp.character_s %>">

                <input name="quote" type="hidden" value="<%= simp.quote %>">

                <button type="submit">details</button>



            </form>



        </section>

            <% }) %>
    </main>
</body>

</html>