<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">

    <link rel="stylesheet" href="/css/style.css">

    <title>Document</title>
</head>
<body>

    <%- include ('navbar.ejs') %>

    <main>

        
        <% simps.forEach(simp=>{%>    
            

            <section class="<%= simp.characterDirection %> ">
            <img src="<%= simp.image %> " >
            <h2><%= simp.character %></h2>
            <h3><%= simp.quote %></h3>
<form action="/favorite-quotes" method="post">

    <input name ="imageurl"type="hidden" value="<%= simp.image %>">
    <input  name ="character_s" type="hidden" value="<%= simp.character %>">
    <input name ="quote" type="hidden" value="<%= simp.quote %>">

    <input name ="characterDirection" type="hidden" value="<%= simp.characterDirection %>">



<button type="submit">favor character</button>




</form>



</section>

            <%  }) %> 
    </main>
</body>
</html>